    /* index.css是用来美化首页的 */
    * {
        margin: 0;
        padding: 0;
        /* 內减模式 */
        box-sizing: border-box;
    }

    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }

    .clearfix:before,.clearfix:after {
        content:"";
        display:table; 
    }
    .clearfix:after {
        clear:both;
    }


    body {
        background-color: #f3f5f7;
    }

    /* 版心 */
    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }

    /* 头部 */
    .header {
        height: 42px;
        /* margin-top: 30px;
        margin-bottom: 30px; */
        margin: 30px auto;
    }

    h1 {
        float: left;
    }

    /* 导航 */
    .nav {
        float: left;
        margin-left: 70px;
        height: 42px;
    }

    .nav li {
        float: left;
        margin-right: 26px;
    }

    .nav li a {
        display: block;
        padding: 0 9px;
        height: 42px;
        line-height: 42px;
        /* border-bottom: 2px solid #00a4ff; */

        font-size: 18px;
        color: #050505;
    }

.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.search {
    float: left;
    margin-left: 59px;
    width: 412px;
    height: 40px;
    border: 1px solid #00a4ff;
}

.search input {
    float: left;
    padding-left: 20px;
    /* 左右加一起的尺寸要小于等于410 */
    width: 360px;
    height: 38px;
    border: 0;
}

/* 控制placeholder的样式 */
.search input::placeholder {
    font-size: 14px;
    color: #bfbfbf;
}

.search button {
    float: left;
    width: 50px;
    height: 40px;
    background-image: url(images/btn.png);
    border: 0;
}

.user {
    float: right;
    margin-right: 35px;
    height: 42px;
    line-height: 42px;
}
.user img {
    /* 调节图片垂直对齐方式, middle:居中 */
    vertical-align: middle;
}

.banner{
    background-color: #1c036c;
    height: 420px;
}

.banner .wrapper {
    height: 420px;
    background-image: url(images/banner2.png);
}

.wrapper .left{
    float: left;
    padding: 0 20px;
    width: 190px;
    height: 420px;
    background-color: rgba(0,0,0,0.3);
    line-height: 44px;
}
.wrapper .left li a{
    color: #fff;
    font-size: 15px;

}

.wrapper .left li span{
    float: right;
}

.wrapper .right{
    margin-top:  50px;
    float: right;
    height: 300px;
    width: 228px;
    background-color: #fff;
}

.banner .right h2{
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    background-color: #9bceea;
    color: #fff;
}

.banner .right .context{
    padding: 0 18px;
}
.banner .right h4{
    margin-top: 10px;
}
.banner .right p{
    margin-bottom: 10px;
}
.banner .right .btn{
    color: #00a4ff;
    margin: 4px auto 0;
    text-align: center;
    width: 200px;
    height: 40px;
    border: solid 1px #00a4ff;
    line-height: 40px;
}
.goods{
    margin-top: 8px;
    background-color: #fff;
    box-shadow: 0px 2px 3px 0px 
    rgba(118, 118, 118, 0.2);
    height: 60px;
}

.goods li:hover{
    color: #00a4ff;
    
}


.goods li{
    float: left;
    margin-left: 34px;
    height: 60px;
    line-height: 60px;
    
}
.goods span{
    margin-left: 20px;
    color: #bfbfbf;
}

.goods ul > li:first-child{
    color: #00a4ff;
}
.goods ul > li:last-child{
    float: right;
    margin-right: 30px;
    font-size: 15px;
    color: #00a4ff;
}
.box{
    margin-top: 35px;
    height: 40px;
}

.box > span:first-child{
    float: left;
    font-size: 20px;
    line-height: 40px;

}
.box > span:last-child{
    float: right;
    font-size: 14px;
    line-height: 40px;
}

.cont{
    height: 570px;
    
}
.cont div{
    float: left;
    width: 230px;
    height: 270px;
    background-color: #fff
}
.second{
    margin: 10px 10px 0 0;
}
.first{
    margin: 0 10px 10px 0;
}

.first .img{
    background-image: url(images/course01.png);
    height: 155px;
    
}
.first .text{
    height: 115px;
    padding: 20px;
}

.text a{
    color: #050505;
}

.second .img{
    background-image: url(images/course01.png);
    height: 155px;
    
}
.second .text{
    height: 115px;
    padding: 20px;
}
.footer{
    margin-top: 40px;
    padding-top: 30px;
    background-color: #fff;
    height: 417px;
}
















